<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar tema..."
                        #txtTermino
                        (keyup)="buscar(txtTermino.value)" />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row"
    *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Temas ({{ temas.length }})</h4>
                        <h6 class="card-subtitle">
                            Temas registrados en mi aplicación
                        </h6>
                    </div>

                    <div class="col"  *ngIf="usuario.role == 'ADMIN_ROLE'">
                        <div class="text-right">
                            <button class="btn btn-info"
                                    (click)="abrirSweetAlert()">

                                Nuevo Tema
                            </button>
                        </div>
                    </div>

                </div>






                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tema of temas">
                                <td class="text-center align-middle">
                                    <img [src]="tema.img | imagen:'temas'"
                                        [alt]="tema.nombre"
                                        class="w100 cursor"
                                        (click)="abrirModal(tema)" *ngIf="usuario.role =='ADMIN_ROLE'">
                                      <img [src]="tema.img | imagen:'temas'"
                                        [alt]="tema.nombre"
                                        class="w100 cursor"
                                        *ngIf="usuario.role !='ADMIN_ROLE'">
                                </td>
                                <td class="align-middle">
                                    <input type="text"
                                            class="form-control"
                                            placeholder="Nombre del tema"
                                            [(ngModel)]="tema.nombre" *ngIf="usuario.role=='ADMIN_ROLE'"/>
                                    <input type="text"
                                            class="form-control"
                                            placeholder="Nombre del tema"
                                            disabled
                                            [(ngModel)]="tema.nombre" *ngIf="usuario.role !='ADMIN_ROLE'"/>
                                </td>

                                <td class="text-nowrap text-center align-middle" *ngIf="usuario.role=='ADMIN_ROLE'">
                                    <a (click)="guardarCambios(tema)"
                                        data-toggle="tooltip"
                                        class="cursor"
                                        data-original-title="Guardar cambios">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>

                                    <a (click)="eliminarTema(tema)"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        class="cursor">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>
