

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h2><b>404</b></h2>
            <h3 class="text-uppercase">No encontramos nada !</h3>
            <p class="text-muted m-t-30 m-b-30">Creo que deberías intentarlo nuevamente</p>
            <a routerLink="/" class="btn btn-info  waves-effect waves-light m-b-40">Volver</a> </div>
        <footer class="footer text-center">© {{ year }} PUBLIUNPRG.</footer>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
