<div class="row animated fadeIn fast">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="alert alert-info animated fadeIn fast"
                    *ngIf="usuarios.length === 0">
                  <p class="mb-0">
                      No hay usuario con ese término
                  </p>
                </div>

                <div class="table-responsive"
                    *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios"
                                class="animated fadeIn fast">
                                <td>
                                    <img [src]="usuario.img | imagen:'usuarios'"
                                         class="w75"/>
                                </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Tema</h3>

                <div class="alert alert-info animated fadeIn fast"
                    *ngIf="temas.length === 0">
                  <p class="mb-0">
                      No hay tema con ese término
                  </p>
                </div>

                <div class="table-responsive"
                    *ngIf="temas.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tema of temas"
                                class="animated fadeIn fast">
                                <td>
                                    <img [src]="tema.img | imagen:'temas'"
                                         class="w75"/>
                                </td>
                                <td>{{ tema.nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Publicación</h3>

                <div class="alert alert-info animated fadeIn fast"
                    *ngIf="publicaciones.length === 0">
                  <p class="mb-0">
                      No hay publicacion con ese término
                  </p>
                </div>

                <div class="table-responsive"
                    *ngIf="publicaciones.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Publicación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let publicacion of publicaciones"
                                class="animated fadeIn fast">
                                <td>
                                    <img [src]="publicacion.img | imagen:'publicaciones'"
                                         class="w75"/>
                                </td>
                                <td>
                                    <a [routerLink]="['/dashboard/publicacion', publicacion._id ]">
                                        {{ publicacion.nombre }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
