<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar publicación..."
                        #txtTermino
                        (keyup)="buscar( txtTermino.value )"/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row"
    *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-6 ">
                        <h4 class="card-title">Publicaciones ({{ publicaciones.length }})</h4>
                        <h6 class="card-subtitle">
                            Publicaciones Registradas hasta el momento
                        </h6>
                    </div>
                    <div class="col align-middle">

                      <div class="input-group">
                        <label for="exampleInputText3">Tema</label> &nbsp;&nbsp;
                        <form class="form-horizontal"
                        [formGroup]="publicacionForm"

                        >
                          <select
                                  formControlName="tema">
                              <!-- <option value="temas[0]._id">{{temas[0].nombre}}</option> -->
                              <option value="" disabled>Selecciona</option>
                              <option *ngFor="let tema of temas"
                                  [value]="tema._id" selected>
                                  {{ tema.nombre }}
                              </option>
                              <option value="3" selected>Todos</option>
                          </select>
                        </form>

                      </div>


                    </div>
                    <div class="col " *ngIf="usuario.email.split('@')[1] == 'unprg.edu.pe'">
                        <div class="text-right">

                            <a class="btn btn-info"
                               routerLink="/dashboard/publicacion/nuevo">

                                Nueva publicación
                            </a>
                        </div>
                    </div>

                </div>



                <div class="table-responsive">
                    <table class="table  mt-2">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th>Contenido</th>
                                <th class="w100 text-nowrap" colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let publicacion of publicaciones">
                                <td class="text-center align-middle">
                                    <img [src]="publicacion.img | imagen:'publicaciones'"
                                        [alt]="publicacion.nombre"
                                        class="w100 cursor"
                                        (click)="abrirModal(publicacion)" *ngIf="owner(publicacion) || usuario.role == 'ADMIN_ROLE'">
                                    <img [src]="publicacion.img | imagen:'publicaciones'"
                                        [alt]="publicacion.nombre"
                                        class="w100 cursor"
                                        *ngIf="!owner(publicacion) && usuario.role != 'ADMIN_ROLE'">
                                </td>
                                <td class="align-middle">
                                    {{ publicacion.nombre }}
                                </td>
                                <td class="align-middle">
                                  <a [routerLink]="['/dashboard','publicacion', 'ver',publicacion._id ]"
                                        data-toggle="tooltip"
                                        data-original-title="Ver Publicación">
                                        <i class="fa fa-book text-inverse m-r-10"></i>
                                        Ver descripcion

                                  </a>


                                </td>
                                <td class=" align-middle">
                                  <input #inputV type="hidden" value="{{publicacion.articulo | archivo:'publicaciones'}}">
                                  <div *ngIf="esunNoPdf(inputV.value) else mostrardescarga">
                                    <div  *ngIf="owner(publicacion) else nopublicado">
                                      <button class="btn btn-danger" (click)="abrirModalPdf(publicacion)"> AGREGAR PDF</button>
                                    </div>

                                  </div>
                                  <ng-template #nopublicado>
                                    <td>
                                      Aún no publicado
                                    </td>

                                  </ng-template>
                                  <ng-template #mostrardescarga>
                                    <button class="btn btn-primary" (click)="abrirModalPdf(publicacion)"
                                    *ngIf="owner(publicacion) || usuario.role=='ADMIN_ROLE'">CAMBIAR</button>
                                    <button (click)="mostrarArchivo(inputV.value)" class="btn btn-danger">DESCARGAR</button>
                                  </ng-template>

                                </td>

                                <td class="text-nowrap align-middle" >
                                    <a [routerLink]="['/dashboard','publicacion', publicacion._id ]"
                                        data-toggle="tooltip"
                                        data-original-title="Editar"  *ngIf="owner(publicacion) || usuario.role=='ADMIN_ROLE'">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>

                                    <a class="cursor"
                                        data-toggle="tooltip"
                                        data-original-title="Borrar"
                                        (click)="borrarPublicacion( publicacion )" *ngIf="usuario.role=='ADMIN_ROLE'">
                                        <i class="fa fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
<!--
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>
