
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Publicación</h4>
                <h6 class="card-subtitle">Actualizar información</h6>

                <form class="form-horizontal p-t-20"
                        [formGroup]="publicacionForm"
                        (submit)="guardarPublicacion()">

                    <div class="form-group row"
                            *ngIf="publicacionSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="publicacionSeleccionado.img | imagen: 'publicaciones'"
                                     class="w200"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text"
                                        formControlName="nombre"
                                        class="form-control"
                                        id="exampleInputuname3"
                                        placeholder="Nombre de la Publicación">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputText3" class="col-sm-3 control-label">Redacte</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-user"></i></div>
                              <textarea type="text"
                                      formControlName="contenido"
                                      class="form-control"
                                      id="exampleInputText3"
                                      placeholder="Redacte el tema">
                              </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputText3" class="col-sm-3 control-label">Tema</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <select class="form-control"
                                      formControlName="tema">
                                  <!-- <option value="temas[0]._id">{{temas[0].nombre}}</option> -->
                                  <option *ngFor="let tema of temas"
                                      [value]="tema._id" selected>
                                      {{ tema.nombre }}
                                  </option>
                              </select>
                          </div>
                      </div>
                  </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit"
                                    [disabled]="publicacionForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col animated fadeIn fast"
        *ngIf="temaSeleccionado">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Tema</h4>
                <h6 class="card-subtitle">{{ temaSeleccionado.nombre }}</h6>

                <img [src]="temaSeleccionado.img | imagen:'temas'"
                    class="img-thumbnail"/>

            </div>
        </div>

    </div>
</div>


